html, body{
    margin:0px;
    padding:0px;
    height:100%;
}

#mainContainer{
    display:flex;
    background-color: aqua;
    height:100%;
    min-width:100%;
    margin:0px;
    padding:0px;

}

#bg1 {
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    width: 40%;
    background-color:#1d1d20;
}
#bg2 {
    position:absolute;
    right:0;
    top:0;
    height:60%;
    width:60%;
    background-color:#25262a;
}
#bg3{
    position: absolute;
    right: 0;
    top: 60%;
    height:40%;
    width:60%;
    background-color:#2d2e32;
}

#bgMain{
    position: absolute;
    margin-left:15%;
    margin-top:2%;
    height: 95%;
    width: 50%;
    z-index:1;
    padding:0;
    box-shadow: 70px 4px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bgInner1{
    position:absolute;
    height: 50%;
    width: 100%;
    background-color: #2d2e32
}
#bgInner2{
    position:absolute;
    top:50%;
    height: 50%;
    width: 100%;
    background-color: #25262a
}

#nameTitle{
    margin-right: 100px;
}

#navInner{
    display:flex;
    justify-content: flex-start;
    font-size: 13px;
}

#navInner a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

#navInner a:hover {
    color: rgb(32, 224, 160);
    background-color: #2d2e32;
}